{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Title </title>
    <script>
      async function callClick(){
        let response = await fetch('http://localhost:8000/click/',{
          method: 'GET'
        });
        let answer = await response.json();
        document.getElementById("data").innerHTML = answer;
      }
    
      </script>
  </head>
  <body>
      <header><h3> Welcome, {{user.username}}! </h3>
      <div class="logout"><a href="/logout">LOGOUT</a></div> 
      </header>
     <main>
      <div align='center'>
        <h3>You have <div id="data">{{mainCycle.coinsCount}}</div> coins </h3>
        <button onclick="callClick()" ><h3>Click me </h3></button>
      </div>
      
    </main>
    
  </body>
</html>
