.header-game{
    background: url("../images/leaves3.png") 50% 60% no-repeat; 
    background-size: cover;
    color: white;
    padding: 40px;
    height: 12vh;
    text-align: center;
    display: flex;
}

.header{
    background: url("../images/leaves3.png") 50% 60% no-repeat; 
    background-size: cover;
    color: white;
    padding: 20px;
    height: 12vh;
    text-align: center;
}

main{
    padding-top: 40px;
}
.site-name{
    font-size: 40px;
    align-self: center;
}

h3{
    vertical-align: middle;
}

.click-area input{
    height: 450px;
    padding-top: 35px;
    transition: 0.3s;
    opacity: 0.75;
}

.click-area input:hover{
    transform: scale(1.05);
    opacity: 0.85;
}

.click-area input:active{
    opacity: 1;
    transform: scale(1.09);
}

.click-area{
    text-align: center;
}
   
.user-data{
    border-bottom: 2px solid rgb(199, 199, 199);
    box-sizing: border-box;
    background: url("../images/leaves.png") no-repeat; 
    background-size: cover;
}
.user-data-detail{
    text-align: center;  
    font-size: 20px;   
}
#data, #clickPower, #player-level, #autoClickPower{
    font-weight: bold;
}

.wrapper-page{
    display: flex;
    justify-content: space-between;
    min-height: 88vh;
    
}

.logout{
    color: white;
    margin-left: auto;
    align-self: center;
}

.logout a {
    color: rgb(209, 209, 209);
    font-size: larger;
    text-align: end;
}

.logout a:hover{
    color: white;
    text-decoration: none;
}
.boosts{
    width: 35%;
    border-left: 4px solid rgb(160, 160, 160);
    background: url("../images/leaves2.png") no-repeat; 
    overflow-y: scroll;
    height: 88vh;
}


.wrapper-main{
    width: 65%; 
}

.boosts-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.boosts-list li{
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid  rgb(199, 199, 199);
    background-image: url("../images/leaves2.png"); 
    background-size: cover;
}

.boosts-list li:hover{
    background-color: rgba(255, 255, 255, 0.836);
    background-image: none;
}



.boosts-list .disabled:hover{
    background-color: rgb(219, 219, 219);
    opacity: 0.7;
}

.boosts-list .autoClick{
    background-color: rgb(223, 255, 255);
    background-image: none;
}

.boosts-list .disabled{
    background-color: rgb(219, 219, 219);
    opacity: 0.7;
    background-image: none;
}

